.img-produto {
    width: 90px;
    border-radius: 10%;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.produto {
    border: 2px solid black;
    text-align: center;
}